{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/Style.css' %}">
    <title>{% block title %}{% endblock %} | Huertita!</title>
</head>
{% block head %}

{% endblock %}
  <nav class="navbar navbar-expand-lg bg-miColor">
    <div class="container-fluid">
      <img src="{% static 'IMG/main.png' %}" alt="Logo" width="80" height="74" class="d-inline-block align-text-top mx-lg-2" >

        <a class="navbar-brand" href="/index">Fundacion Huertita</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/index">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="/catalogo">Catalogo</a>
              </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Nosotros
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/about">Quienes Somos</a></li>
                        <li><a class="dropdown-item" href="/equipo">Equipo</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/colabora">Colabora</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/contactanos">Contactanos</a>
                </li>

    {% if user.is_authenticated and user.is_superuser %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administracion
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/agregarProductos">Productos</a></li>
        </ul>
    </li>
{% endif %}

            </ul>
            <div class="navbar-nav">
              <form class="d-flex me-auto" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Buscar">
                  <button id="buscar" class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
              <ul class="navbar-nav ms-auto me-4">
                <div class="navbar-nav">
                  <a class="nav-link" href="#" id="carritoPopover" role="button" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Contenido del carrito">
                    <i class="bi bi-cart"></i> Carrito
                    {% if request.session.carrito.items %}
                    <span class="position-absolute  translate-middle badge rounded-pill bg-danger">{{ request.session.carrito.items|length }}</span>
                    {% endif %}
                </a>
                
    </div>
          
      
                  
                  {% if user.is_authenticated %}
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Bienvenido/a, {{ user.username }}
                          </a>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'mi_cuenta' id=user.rut %}" class="dropdown-item">Mi Perfil</a></li>
                              <li><a href="{% url 'logout' %}" class="dropdown-item">Cerrar Sesión</a></li>
                          </ul>
                      </li>
                  {% else %}
                      <li class="nav-item">
                          <a href="{% url 'login' %}" class="nav-link">Iniciar Sesión</a>
                      </li>
                      <li class="nav-item">
                          <a href="registro" class="nav-link">Registrarse</a>
                      </li>
                  {% endif %}
              </ul>
          </div>
          
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="modoOscuro">
            <i class="bi bi-moon-stars-fill"></i>
        </div>
      </ul>  
          </ul>
          </div>
        </div>
       
      </nav>






      {%block body%}

      {% endblock %}




  
    
      
<footer class="text-center text-lg-start text-muted" style="background-color: #e2cfa4;">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Encuentranos en nuestras Redes Sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 link-secondary">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="bi bi-instagram"></i>
      </a>
      
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Fundacion Mi huertita
          </h6>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste vero maiores, nulla consequuntur similique facere repellat quia necessitatibus laudantium repudiandae tempora, ducimus cumque optio? Voluptatum quisquam nesciunt ipsum voluptas sed!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Productos
          </h6>
          <p>
            <a href="#!" class="text-reset">Maceteros</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Tierra de Hoja</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Flores y Arbustos</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Herramientas</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links de Utilidad
          </h6>
          <p>
            <a href="#" class="text-reset">Mi cuenta</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Registrarse</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Mis Ordenes</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ayuda</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contactanos</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> Calle linda #123, Santiago, Chile.</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            info@fundacion.cl
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> + 56 234 567 88</p>
          <p><i class="fas fa-print me-3 text-secondary"></i> + 56 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="#">DuocUC.cl</a>
  </div>
  <!-- Copyright -->
</footer>
{%block footer%}

{% endblock %}
      
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/nocturno.js' %}"></script>
<script src="{% static 'js/apiRest.js' %}"></script>
<script src="{% static 'js/carrito.js' %}"></script>



{%block script%}

{% endblock %}
</body>
</html>