{%extends "./base.html"%}
{%load static%}

{%block head%}
  

{%endblock%}

{%block title%}Mi Cuenta{% endblock %}

{%block body%}

<body  onscroll="eventScroll()">
 
              
        <div class="container" id="container-hora">
          <h2 id="horaLocal" >Hora  </h2>
      </div>
            
        <section class="main" >
          <div class="container py-2">
            <div class="row">
              <div class="col">
                <nav aria-label="breadcrumb" class="rounded-3 p-3 mb-4" id="testing">
                  <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/index">Inicio</a></li>
                    
                    <li class="breadcrumb-item active" aria-current="page">Perfil Usuario</li>
                  </ol>
                </nav>
              </div>
            </div>
        
            <div class="row">
              <div class="col-lg-4">
                <div class="card mb-4">
                  <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6.webp" alt="avatar"
                      class="rounded-circle img-fluid" style="width: 150px;">
                      
                      {% for i in usu %}
                      <h5 class="my-3">Hola! {{}}</h5>
                    
                    
                  </div>
                  <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Perfil Usuario</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Mis Compras</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Mis Seguimientos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  href="#">Mis Suscripciones</a>
                      </li>
                </ul>
                </div>
                
              </div>
              
              <div class="col-lg-8">
                <div class="container">
              
                </div>
                 <fieldset>
                  <legend>Perfil Usuario. </legend>
                    <div class="col-lg-12">
                      <div class="card mb-4">
                        <div class="card-body">
                          <form action="" id="formularioUsuario">
                            <div class="container mt-3 mb-5" id="titulo-dato">
                              <h4><i class="bi bi-1-circle-fill">Datos Personales.</h4></i>
                             </div>    
                             
                             <div class="row">
                              <div class="col-sm-3">
                                <p class="mb-0">RUT</p>
                              </div>
                              <div class="col-sm-6">
                                <input name="rut" type="text" class="form-control" id="inputRut" disabled placeholder="12345678-9" required>
                              </div>
                            </div>
  
                            
                            
                            <hr>
  
                            <div class="row">
                              <div class="col-sm-3">
                                <p class="mb-0">Nombre</p>
                              </div>
                              <div class="col-sm-6">
                                <input name="nombre" type="text" class="form-control" id="inputNombre" placeholder="Juan" required disabled>
                              </div>
                            </div>
  
                            <hr>
  
                            <div class="row">
                              <div class="col-sm-3">
                                <p class="mb-0">Apellido Paterno</p>
                              </div>
                              <div class="col-sm-6">
                                <input name="appaterno" type="text" class="form-control"  id="inputAppaterno" required disabled>
                              </div>
                            </div>
                            
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <p class="mb-0">Apellido Materno</p>
                              </div>
                              <div class="col-sm-6">
                                <input name="apmaterno" type="text" class="form-control"  id="inputApmaterno" disabled> 
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <p class="mb-0">Genero</p>
                              </div>
                              <div class="col-sm-6">
                                <input name="genero" type="text" class="form-control"  id="inputGenero" disabled> 
                              </div>
                            </div>
                            
                          
                            <hr>
                          
                            
                            <div class="row">
                              <div class="col-sm-3">
                                <p class="mb-0">Correo</p>
                              </div>
                              <div class="col-sm-6">
                                <input name="correo" type="text" class="form-control" id="inputCorreo" placeholder="Correo@Correo.com" required>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <p class="mb-0">Telefono</p>
                              </div>
                              <div class="col-sm-6">
                                <input name="telefono" type="text" class="form-control" id="inputTelefono" placeholder="EJ: 227725631" requiered>
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <p class="mb-0">Celular</p>
                              </div>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputCelular">  
                              </div>
                            </div>
                            <hr>
                          
                              <div class="row">
                                <div class="col-sm-3">
                                  <p class="mb-0">Contraseña</p>
                                </div>
                                  <div class="col-md-6">
                                      
                                        <input name="txtPass1" type="password" class="form-control" id="inputPass1" required> 
                                          
                                      
                                  </div>
                              </div>
                          
                            <hr>
                            
                            <div class="row">
                              <div class="col-sm-3">
                                <p class="mb-0">Re-ingrese Contraseña</p>
                              </div>
                              <div class="col-sm-6">
                                <input name="txtPass2" type="password" class="form-control" id="inputPass2" required>  
                                <div class="col-auto">
                                  
                                </div>
                              </div>
                            </div>
        
                                          
         
             <div class="container mt-5 mb-5" id="titulo-despacho">
              <h4><i class="bi bi-2-circle-fill">Dirección de Despacho</h4></i>
             </div>               
            
            
            
              
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Dirección</p>
                    </div>
                    <div class="col-sm-6">
                      <input name="direccion" type="text" class="form-control" id="inputDireccion" placeholder="Ejemplo: Calle Extrema" required>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Número</p>
                    </div>
                    <div class="col-sm-6">
                      <input name="numero" type="text" class="form-control" id="inputNumero" placeholder="Ejemplo:1321" required>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Depto (opcional)</p>
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="inputDepto" placeholder="Ejemplo 107">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Región</p>
                    </div>
                    <div class="col-sm-6">
                      <select name="region" id="inputRegion" class="form-select" required>
                        <option value="">Seleccione...</option>
                        <option value="1">Región 1</option>
                        <option value="2">Región 2</option>
                      </select>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Ciudad</p>
                    </div>
                    <div class="col-sm-6">
                      <select name="ciudad" id="inputCiudad" class="form-select" required>
                        <option value="">Seleccione...</option>
                        <option value="1">Ciudad 1</option>
                        <option value="2">Ciudad 2</option>
                      </select>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Comuna</p>
                    </div>
                    <div class="col-sm-6">
                      <select name="comuna" id="inputComuna" class="form-select" required>
                        <option value="">Seleccione...</option>
                        <option value="1">Comuna 1</option>
                        <option value="2">Comuna 2</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <button name="submit" type="submit" class="btn btn-success btn-customized">Actualizar</button>
            </div>
          </fieldset>
        </form>
   </div>
      </div>
          </div>   

{% endblock %}

{%block footer%}
  

{%endblock%}

{%block script%}
<script src="{% static 'js/validarFormUsuario.js' %}"></script>

{%endblock%}
