@font-face {
    font-family: miFuente;
    src: url("fonts/Nature Beauty Personal Use.ttf");
}

@font-face {
    font-family: reloj;
    src: url("fonts/digital-7.ttf");
}

.navbar-brand {
    font-family: miFuente;
}

.fieldset,
legend {
    margin-top: 20px;
    all: revert;
}

#container-hora {
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
}

.card {
    justify-content: center;
}

.bg-miColor {
    background-color: rgb(174, 212, 179);
}

.navbar {
    height: 50%;
}

#testing {
    background-color: rgba(220, 213, 213, 0.425);
}

#ResLabel {
    margin-left: 10px;
}

tr {
    color: black;
    border: solid;
    border-color: rgb(12, 12, 12);
}

.modo-oscuro .card th {
    color: rgb(255, 249, 249);
    border: solid;
    border-color: rgb(243, 241, 241);
}

.card th {
    color: black;
    border: solid;
    border-color: rgb(0, 0, 0);
}

.modo-oscuro .table tbody tr {
    color: rgb(255, 255, 255);
    border: solid;
    border-color: rgb(255, 255, 255);

}

.modo-oscuro .table thead tr {
    color: rgb(255, 255, 255);
    border: solid;
    border-color: rgb(255, 255, 255);

}
.modo-oscuro tbody tr:hover {
    background-color: rgb(86, 109, 89);
}

tbody tr:hover {
    background-color: rgb(145, 226, 156);
}



small {
    color: red;
}

.card-body {
    background-color: rgba(220, 213, 213, 0.425);
    justify-items: center;
}

legend {
    background-color: rgb(159, 221, 167);
    color: rgb(22, 1, 1);
    padding: 5px 10px;
    font-size: large;
}

/* Reloj */
#horaLocal {
    color: rgb(37, 126, 138);
    font-family: reloj;
    font-size: 200%;
}

#tituloHora {
    font-family: miFuente;
    color: rgb(31, 86, 117);
}

/* Reloj */

#boton {
    align-items: center;
}

.error {
    color: red;
}

#titulo-despacho h5 {
    align-content: center;
}

.legend {
    background-color: rgb(159, 221, 167);
    color: rgb(22, 1, 1);
    padding: 5px 10px;
    font-size: large;
}

/* Estilos del modo oscuro */
.modo-oscuro {
    background-color: #222;
    color: #fff;
}

.modo-oscuro .card-body {
    background-color: rgb(103, 99, 99);
}

.modo-oscuro .bg-miColor {
    background-color: rgb(6, 109, 30);
}

.modo-oscuro #perfil-fondo {
    background-color: rgb(103, 99, 99);
}


.modo-oscuro .error {
    color: rgb(253, 140, 140);
}

.modo-oscuro .dropdown-item {
    color: #ffffff;
}

.modo-oscuro .dropdown-menu.show {
    background-color: rgb(22, 149, 0);
}

.modo-oscuro .dropdown-item:hover {
    background-color: rgb(7, 113, 7);
}

.modo-oscuro .nav-link:active {
    color: #ffffff;
}

.modo-oscuro .flex-column {
    background-color: rgba(15, 73, 25, 0.705);
}

.modo-oscuro .form-control:disabled {
    background-color: rgb(160, 182, 157);
}

#exampleModal {
    color: #222;
}

#btnRegistro {
    color: #222;
}

#btnInicioSesion {
    color: #222;
}

#passwordHelpBlock {
    color: red;
}

#imgNasa h1,
h3,
h5 {
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
}

/* Carrito de compra */
.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex0;
    flex-wrap: wrap;
}

.carousel-image {
    width: 100%;
    height: 100;
    object-fit: cover;
  }

#contenedor-index{
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.card-header{
    background-color: rgb(116, 212, 124);
}
.modo-oscuro .card-header{
    background-color: rgb(19, 155, 31);
}

.modo-oscuro .card-footer{
    background-color:rgb(103, 99, 99); ;
}

.modo-oscuro #buscar {
    background-color: rgb(108, 154, 52);
    color: rgb(255, 255, 255);
}
.modo-oscuro #buscar:hover {
    background-color: rgb(160, 177, 14);
    color: rgb(253, 255, 255);
}


.modo-oscuro a:hover {
    color: rgba(168, 255, 159, 0.951);
}
a:hover {
    color: rgba(168, 255, 159, 0.951);
}

.modo-oscuro legend {
    background-color: rgb(6, 109, 30);
    color: rgb(246, 246, 246);
}


.modo-oscuro .breadcrumb-item {
    color: #fff;
}

.modo-oscuro a {
    color: rgb(255, 255, 255);
}


.modo-oscuro legend {
    background-color: rgb(6, 109, 30);
    color: rgb(246, 246, 246);
}

.container-catalogo{
    margin-bottom: 10%;

}